section.music
  .container.music__container
    .music__left
      img(src="/assets/img/Music.jpg", alt="")
    .music__right.about
      .about__subtitle.subtitle About me
      h2.about__title.title I am a musician
      .about__slogan “Music does not have nationality or age” 
      .about__descriptons Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quam aperiam! Ut, expedita! Aperiam eveniet animi culpa sit eligendi ipsam voluptatum quas, veritatis modi qui, similique cupiditate? Atque, nam inventore!
      .about__note
        span.about__note-family Arhipov
        span.about__note-field  -  Grammy winner 2017
      